.Hero-contact {
    margin-top: 70px;
}
.Form-contact {
    width: 400px;
    margin: 0 auto;
}
.Contact-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #120D26;
    text-align: left;
}
.Contact-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #94959A;
    margin-bottom: 40px;
}
.Form-contact label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #94959A;
}
::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #D0CFD4;
}